.wrapper-nav{
  position: fixed;
  top: 0;
  height: 55px;
  width: 100vw;
  background-color: #005d00;
  margin-bottom: 15px;
}
.navbar-wrapper {
    h3 {

      color: #f7f712;
    }
    a {
      color: white;
      transition: .3s;
      svg {
        margin-right: 5px;
        font-size: 20px;
      }
    }
    a:hover {
      color: #f7f712;
      text-decoration: none;
    }
    ul {
      margin-bottom: 0;
      li {
        padding: 4px;
        margin-right: 1px;
        width: 250px;
        display: inline-block;
        text-align: center;
        font-weight: 700;
        font-size: large;
      }
    }
  }
  
  .navbar-cart {
    margin-top: 13px;
    padding: 0 !important;
    svg {
      font-size: 24px !important;
    }
  }